content {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .26);
  display: block;
  padding: 16px;

  h2 {
    border-bottom: 1px solid lightgrey;
    color: grey;
    padding-bottom: 8px;
  }

  p {
    margin: 1em 0;
  }
}

